    <div class="wrapper-container">
        
<p>
    Ich bin CoDi, dein Cocktail Diary.
</p>

<p>
    Ich begleite dich durch den kulinarischen Bargenuss auf der ganzen Welt.
    Dabei ist es ganz gleich, ob du am Strand auf Mauritius, in der alten Duisburger Kneipe oder im Restaurant auf dem Himalaya dein Drink-Horizont erweitern möchtest, denn ich funktioniere überall – ja, auch ohne Internet!
    Dabei spielt es natürlich keine Rolle ob du dich als Nipper-, Kipper- oder gar als Virgin-Trinker beschreibst, denn mit mir findest du immer dein Glück.
</p>

<p>
    Wie du mich benutzt? 
    Ganz einfach, schlürfst du gerade deinen Cocktail, Highball oder Longdrink? Dann trage seinen Namen in dem vorgesehenen Feld ein und verpasse ihm direkt daneben ein perfekt beschreibendes Hashtag.   
</p>
<p>
    Wozu? 
    Dank dem Hashtag findest du zu deiner aktuellen #Gemütslage oder #Lust das richtige Getränk. 
</p>

<p>
Viel Spaß beim Nutzen wünscht
</p>

<p>
    ON20,
    Lena, Lowis, Jonas, Jonas, Cedric
</p>
    </div>
    