.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: #A88661;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #A88661;
}

.logo {
  width: 100px;
  height: auto;
  float: right;
}

span {
  width: 100%;
}

.sidenav {
  background: #A88661;
}

.mat-list-item {
  font-family: Oswald;
  font-size: 16px;
  color: white;
}

.nav-menu {
  font-family: Oswald;
  font-size: 20px;
  color: white;
}