.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: #A88661;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #A88661;
}

.logo {
  width: 8.5%;
  height: auto;
  float: right;
}

span {
  width: 100%;
}