<div class="wrapper">
  <div class="contentWrapper">
    <h1>Your Cocktail Diary </h1>

    <p class="headings">Describe your Cocktail Experience</p>
    <div class="wrapper-container">
      <div class="container-input">
        <label for="cocktailname" name="cocktailname" class="cocktail-label">🍸</label>
        <input id ="cocktailname" name="cocktailname" class="cocktail-input" placeholder="Tequila Sunrise"  #nameCocktail>
      </div>
    
      <div class="container-input">
        <label for="hashtag" name="hashtag" class="hastag-label">#</label>
        <input id="hashtag" name="hastag" class="hastag-input" placeholder="#fruity #LAvibes" #hashtagCocktail>
      </div>

    </div>

    <button (click)="add(nameCocktail.value, hashtagCocktail.value)">Hinzufügen</button>
    <button (click)="sync()">Sync here</button>
    
    <p class="headings">Memories:</p>
    
    <ul class="list">
      <li *ngFor="let cocktails of cocktails">
        <p class="cocktailname">{{ cocktails.cocktail }}</p>
        <p class="cocktailhashtag"> {{ "#" + cocktails.hashtag}} </p>
      </li>
    </ul>

  </div>

  <div class="mainImageWrapper">
    <img class="mainImage" src="../../assets/mainImage.svg" alt="cheerful drinking">
  </div>
</div>