<div class="wrapper">
  <h1>Your Cocktail Diary </h1>

<p>Describe your Cocktail Experience</p>
<div class="wrapper-container">
  <div class="container-input">
    <label for="cocktailname" name="cocktailname" class="cocktail-label">🍸</label>
    <input id ="cocktailname" name="cocktailname" class="cocktail-input" placeholder="Tequila Sunrise"  #nameCocktail>
  </div>
  
  <div class="container-input">
    <label for="hashtag" name="hashtag" class="hastag-label">#</label>
    <input id="hashtag" name="hastag" class="hastag-input" placeholder="#fruity #LAvibes" #hashtagCocktail>
  </div>
  
</div>


<button (click)="add(nameCocktail.value, hashtagCocktail.value)">Hinzufügen</button>
<button (click)="sync()">Sync here</button>

<ul>
    <li *ngFor="let cocktails of cocktails">
      <h2 class="cocktailname">{{ cocktails.cocktail }}</h2>
      <p class="cocktailhashtag"> {{ "#" + cocktails.hashtag}} </p>
    </li>
  </ul>
